<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Url</key>
	<string>https://boostcamp-d2.firebaseio.com/.json?</string>
	<key>Schedules</key>
	<string>orderBy=&quot;$key&quot;&amp;startAt=&quot;schedules&quot;</string>
	<key>UploadDate</key>
	<string>orderBy=&quot;$key&quot;&amp;startAt=&quot;update_date&quot;</string>
</dict>
</plist>
